// ProductStatistics.scss

$border-color: #ccc;
$table-header-bg: #f4f4f4;
$table-row-bg: #fff;
$table-row-hover-bg: #f9f9f9;

.container {
  display: flex;
  flex-direction: column;
  align-items: center; // Căn giữa nội dung
  padding: 20px;
  color: black; // Thêm padding cho container

  .product-statistic {
    width: 100%; // Đảm bảo các phần chiếm toàn bộ chiều rộng
    margin-bottom: 40px; // Thêm khoảng cách giữa các phần
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: #fff; // Nền trắng cho các phần
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Thêm bóng cho các phần
  }

  h1,
  h1{
    margin: auto;
  }
  h2,
  h3 {
    color: #333; // Màu chữ cho tiêu đề
  }

  h2 {
    margin-top: 20px;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .button-action{
    display: flex;
    justify-content: end;
    gap: 20px;

    button{
      font-weight: 600;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: black;

    th,
    td {
      border: 1px solid $border-color;
      padding: 10px;
      text-align: left;

      &:first-child {
        width: 50%;
      }

      &:hover {
        background-color: $table-row-hover-bg;
      }
    }

    thead {
      background-color: $table-header-bg;

      th {
        font-weight: bold;
      }
    }
    

    tbody {
      tr {
        background-color: $table-row-bg;

        &:nth-child(even) {
          background-color: lighten($table-row-bg, 5%);
        }
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 5px 0;
      font-size: 1rem;
      color: #333; // Màu chữ cho danh sách sản phẩm
    }
  }

  // Biểu đồ
 
  .filter-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 20px;

    label {
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }

    input[type="date"] {
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      color: #333;
      outline: none;

      &:focus {
        border-color: #007bff;
      }
    }

    select {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      color: #333;
      outline: none;

      &:focus {
        border-color: #007bff;
      }
    }

    button {
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .category-statistic {
    width: 100%; // Đảm bảo các phần chiếm toàn bộ chiều rộng
    margin-bottom: 40px; // Thêm khoảng cách giữa các phần
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; // Nền trắng cho các phần
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Thêm bóng cho các phần
    h3{
      padding: 10px 0;
    }
    .chart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .recharts-wrapper {
      margin-bottom: 20px;
      min-width: 800px;
      height: 400px;
    }
  }
}
