// src/components/RevenueOverview.scss

.revenue-overview {
  .statistic-month {
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    h1 {
      text-align: center;
    }

    table {
      border-collapse: collapse;
      min-width: 40%;
      th,
      td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
      }

      th {
        background-color: #f4f4f4;
        color: #333;
      }
    }

    .line-chart {
      text-align: center;
      margin-top: 20px;
      

      .recharts-text {
        .recharts-cartesian-axis-tick-value {
          width: 100px;
        }
      }
    }
  }
}
.recharts-wrapper{
        width: 700px;
      }