.notification {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 600px;
  position: absolute;
  top: 66px;
  right: 0px;
  overflow: hidden;
  margin: 0 auto;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
    text-align: center;
  }
  .notification-list {
    flex: 1;

    margin-top: 10px;
    overflow: auto;
    ul {
      list-style: none;
      padding: 0;
    }
    .notification-item {
      //background-color: #fff;
      padding: 15px;
      overflow-wrap: break-word;
      border-radius: 6px;
      margin-bottom: 8px;
      // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      font-size: 1rem;
      color: #555;
      &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
