.default-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  //padding: 32px;
  background-color: var(--clr-secondary);

  .main-content {
    background-color: var(--clr-secondary);
    flex: 1;
    padding: 0 30px;
    overflow-y: auto;

    .nav-bar {
      position: sticky;
      top: 0;
      background-color: var(
        --clr-secondary
      ); /* Adjust background color as needed */
      z-index: 1000; /* Ensure the nav-bar stays on top */
      //padding: 40px 10px 20px; /* Adjust padding as needed */
      margin-bottom: 20px;
      /// margin-top: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
    }
  }

  @media screen and (max-width: 1400px) {
    .main-content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 1200px) {
    .main-content {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}
