.account-detail {
  color: white;
  background-color: var(--clr-primary);
  padding: 20px;
  border-radius: 8px;
  padding-bottom: 60px;
  h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .tab-button {
    padding: 8px 5px;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    //background-color: #007bff;
    color: white;
    margin-bottom: 15px;

    font-size: 16px;
    font-weight: 600;
  }
  .tab-button:hover {
    background-color: #0056b3;
  }
  .tab-button.active {
    background-color: #0056b3;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .account-info {  
    .account-details {
      width: 70%;
      margin: auto;
      display: flex;
      gap: 20px;
      //justify-content: space-between;
  
      .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 8px;
        box-shadow: -2px -1px 12px 5px rgb(105 98 98 / 20%);
        
  
        .avatar {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: 10px;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
  
          .avatar-placeholder {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e0e0e0;
            color: #999;
            font-size: 14px;
          }
        }
  
        .name-email {
          .field {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
  
            .label {
              font-weight: bold;
              margin-right: 10px;
            }
  
            .value {
              font-size: 16px;
            }
          }
        }
      }
  
      .right-section {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        box-shadow: -2px -1px 12px 5px rgb(105 98 98 / 20%);
        gap: 20px;
        .field {
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-bottom: 15px;
            

          .label {
            font-weight: bold;
            margin-right: 10px;
          }
          input{
            padding: 8px;
            border-radius: 4px;
            color: white;
            border: 1px solid #ccc;
            background: none;

          }
          .value {
            font-size: 16px;
          }
        }
      }
    }
  }
  
}
.address-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  th {
    background-color: #444;
  }

  td {
    background-color: #333;
  }
}